html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

.navbar * {
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  background-color: #6a850aea
}

.main {
  background-color: #6a850aea;
  z-index: 1;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.videos {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: rgb(255, 255, 255);
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;

}



/* Scrollbar */

body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); */
  /* box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); */
  background-image: radial-gradient(circle farthest-corner at 10% 20%,
      rgb(96, 100, 100) 0.1%,
      rgb(6, 7, 7) 94.2%);
  /* border-radius: 15px; */
}

body::-webkit-scrollbar-thumb {
  background-color: #6a850aea;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carrusel {

  width: 50%;
  margin: 8rem auto;
  height: 525px;

}

.p {
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.m-2 {
  width: 95%;
  height: 4rem auto;
  margin: auto;
  background: rgb(127, 240, 98);
  background: linear-gradient(275deg, rgba(127, 240, 98, 1) 3%, rgba(68, 242, 249, 1) 41%);
}

.Tituloc {
  text-align: center;
  align-items: center;
}

/* footer */

.footer {
  width: 100%;
  background: rgb(68, 242, 249);
  background: linear-gradient(275deg, rgba(68, 242, 249, 1) 49%, rgba(127, 240, 98, 1) 83%);
  
}

.footer .footer-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.footer .footer-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-1 .box figure img {
  width: 250px;
}

.footer .footer-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .footer-1 .redes a {
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: white;
  margin-right: 10px;
  background: rgb(0, 95, 255);
  background: radial-gradient(circle, rgba(0, 95, 255, 1) 0%, rgba(11, 242, 232, 1) 100%);
  text-align: center;
  transition: all 300ms ease;
  border-radius: 50%;
}

.footer .footer-1 .redes a:hover {
  color: rgb(0, 0, 0);
}


.footer .footer-2 {
  background: rgb(115, 136, 240);
  background: linear-gradient(185deg, rgb(103, 103, 104) 21%, #2a2b2aea 52%, rgb(107, 110, 107) 91%);
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.footer .footer-2 small {
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .footer .footer-1 {
    width: 85%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
}


.Welcome {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;

}



#root>div>div.main>div.videos>a {
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;

}

#root>div>div.main>div.videos>a:hover {
  background-color: #6a850aea;
  box-shadow: 0 0 10px #6a850aea, 0 0 40px #6a850aea, 0 0 80px #6a850aea;
  color: #fff;
}

#root>div>div.videos>a {
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
}

#root>div>div.videos>a:hover {
  background-color: #6a850aea;
  box-shadow: 0 0 10px #6a850aea, 0 0 40px #6a850aea, 0 0 80px #6a850aea;
  color: #fff;
}


.ms-auto .Link {

  text-decoration: none;
}

.ms-auto .Link:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0);
  text-decoration: none !important;

}

.Logo {

  text-decoration: none !important;
  font-size: 1.5rem;
}

.Logo:hover {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0);
  text-decoration: none !important;
  font-size: 1.5rem;
}

.Tarjeta {
  margin-top: 5rem;
  width: 100%;
  height: 50vh;
  image-orientation: center;
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
  box-shadow: 0 0 5px #6a850aea, 0 0 10px #6a850aea, 0 0 20px #6a850aea;
  margin-bottom: 10rem;
  background-position: cover;
  object-fit: cover;
  z-index: -1;

}

.Tarjeta1 {
  margin-top: 1rem;
  width: 100%;
  height: 40vh;
  image-orientation: center;
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
  box-shadow: 0 0 5px #6a850aea, 0 0 10px #6a850aea, 0 0 20px #6a850aea;
  margin-bottom: 0.2rem;
  margin-top: 2.2rem;
  background-position: cover;
  object-fit: cover;
 


}

.city{
  z-index: 1;
}
#root>div>div>div>div {
  color: rgb(2, 2, 2);
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: center;
  /* background: rgb(154, 251, 162);
  /* background: radial-gradient(circle, rgba(154, 251, 162, 1) 0%, rgba(171, 210, 255, 1) 100%) */
} 

#search {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px #6a850aea, 0 0 10px #6a850aea, 0 0 20px #6a850aea;
  margin-bottom: 0.2rem;
  text-align: center;
}

.sc{
  margin-top: 3rem;
  font-size: 1.5rem;
 
}



.cards-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 50px;
  
}

.Cofre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}


.nombret {
  text-decoration: none;
  font-size: 1.2rem !important;
  width: 80%;
  color: rgb(6, 7, 7);
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.car {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 40px;
  background-position: cover;

}

.car2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 40px;
  background-position: cover;

}

.s {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 7vh;
  width: 100%;
  padding: auto;
  border-color: aqua;
  border-radius: 10px;
  background: rgb(154, 251, 162);
  background: radial-gradient(circle, rgba(154, 251, 162, 1) 0%, rgba(171, 210, 255, 1) 100%);


}

.placeholder {
  width: 100%;
  height: 100%;

}

.under {
  background: rgb(154, 251, 162);
  background: radial-gradient(circle, rgba(154, 251, 162, 1) 0%, rgba(171, 210, 255, 1) 100%);
  text-align: center;
  ;

}

.no {
  color: rgb(248, 4, 4);
  font-size: 2rem;
  text-align: center;
  background-color: rgba(11, 242, 232, 1);

}


.buttonpa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  


}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 50px;
  border: none;
  
}

button span {
  position: relative;
  color: rgb(16, 17, 17);
  font-size: 15px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
  z-index: 1;

}

button .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #1deff7;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

button .liquid::after,
button .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
}

button .liquid::before {
  border-radius: 45%;
  background: rgb(34, 250, 185);
  animation: animate 5s linear infinite;
}

button .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

button:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


h2 > button {
  
  width: 100%;
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 1.9rem;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color: #14f8f8;
  background-image: radial-gradient(200% 70% at center 20%, rgb(132, 241, 128) -30%, rgb(52, 159, 247) 49%, rgb(53, 160, 231) 50%, rgb(92, 241, 241) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
 }
 
h2> button:hover {
  background-position-y: -50px;
 }
 
 h2>button:active {
  transform: scale(0.99);
 }

 .singleCard {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: var(--navBar) solid 3px;
  background-color: white;
  box-shadow: 0px 0px 30px black;
  margin-bottom: 1rem;
  margin-top: 1rem;


  
}

.title{
  font-size: 2.5rem;
  background-color: rgb(34, 250, 185);
  
  color: rgb(68, 70, 70);
border-radius: 10px;
  text-align: center;
  background: rgb(154, 251, 162);
  background: radial-gradient(circle, rgba(154, 251, 162, 1) 0%, rgba(171, 210, 255, 1) 100%);
  
}

.divi{
  display:flex;

}
.minidiv{
  margin:0.5rem;
  display:flex;
  justify-content: space-evenly!important;
}

.tag{
  margin:0.5rem;
}

.hashtag{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  color: #fff;
  font-size: 0.2rem;
  background: rgb(154, 251, 162);
  background: radial-gradient(circle, rgba(154, 251, 162, 1) 0%, rgba(171, 210, 255, 1) 100%);
  border-radius: 10px;

  
}
.itinerarioCard{
  display: flex; 
  justify-content: center;
  align-self: center; 
  flex-direction: column;
  align-items: center;
  padding:1rem;
  margin:1rem;
  background-color: white;
  width: 60vw;
  line-height-step: 40vh;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 30px black;
}


.prueba{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.colort{
  color: rgb(58, 58, 58);
  text-align: center;
  background: rgb(154, 251, 162);
  background: radial-gradient(circle, rgba(154, 251, 162, 1) 0%, rgba(171, 210, 255, 1) 100%);
  border-radius: 10px;
}