html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar *{
  backdrop-filter: blur(5px);
  color: #fff;
}
.main-home {
  background-color: #5515bd;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.videos {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow  : rgb(255, 255, 255);
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
 
}

.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #eb8e14;
  width: 100%;
  height: 15vh;
  z-index: -1;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); */
  /* box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(96, 100, 100) 0.1%,
    rgb(6, 7, 7) 94.2%
  );
  /* border-radius: 15px; */
}

body::-webkit-scrollbar-thumb {
  background-color: #6a850aea;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carrusel {
  width: 40%;
  margin: 15rem auto;
  height: 570px;
}

.m-2 {
  width: 90%;
  height: 10rem auto;
  margin: auto;
}




.fotter {
  
  background-image: url(./components/asset/beach-g56f332cfe_1920.jpg);
 
  height: auto;
  padding-top: 20px;
  color: #ffffff;
  
}


.footer-botton{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.fotter-content h3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8 rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;

}

.fotter-content p{
max-width: 500px;
 margin: 10px auto;
 line-height: 28px;
 font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;

}

.socials a{
  text-decoration: none;
  color: #ffffff;
}


.socials a i{
  font-size: 1.5rem;
  transition: color .4s ease;
  
}
.socials a:hover{
  color: #34e492;
}

.footer.bottom{
  background: #000000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;

}

.footer.bottom p{

  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
 
}

.footer.bottom span{
  text-transform: uppercase;
  opacity: .4;
font-weight: 200;
}

.Welcome{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
  
}


